@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(101 163 13);
  border-radius: 1rem;
}

.todo {
  background-image: url("/assets/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .modal-container {
  animation-name: animateModal;
  animation-duration: 0.5s;
} */

@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 15rem;
    opacity: 1;
  }
}
